<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/locations/create" id="locationForm">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="locationModalLabel">Ny lokation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Navn</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="E.g Portugal" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
                    <button type="submit" class="btn btn-primary">Ny</button>
                </div>
            </form>
        </div>
    </div>
</div>